<head>
    {{!-- Document settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base meta tags --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    {{!-- Styles --}}
    <link href="{{asset "css/bootstrap.min.css"}}" rel="stylesheet" type="text/css" />
    <link href="{{asset "css/icons.css"}}" rel="stylesheet" type="text/css" />
    <link href="{{asset "css/prism.css"}}" rel="stylesheet" type="text/css" />
    <link href="{{asset "scss/style.css"}}" rel="stylesheet" type="text/css" />

    {{!-- This tag outputs SEO meta+structured data and other important settings from Ghost. Do not remove it. --}}
    {{ghost_head}}

    
    <link rel="shortcut icon" type="image/x-icon" href="https://sourced.tech/img/logos/favicon.png">
    <link rel="apple-touch-icon" type="image/x-icon" href="https://sourced.tech/img/logos/favicon96.png">
    <link rel="icon" type="image/png" href="https://sourced.tech/img/logos/favicon96.png">
</head>